html {
  min-height: 100%;
  background-color: black;
  color: white;
}

.App {
  text-align: center;
}

img {
  width: 100%;
}

.header {
  color: white;
  text-align: left;
  margin-left: 20px;
}

.linethrough {
  text-decoration-line: line-through;
  text-decoration-style: wavy;
  text-decoration-color: red;
}

.footer {
  color: white;
  text-align: right;
  margin-right: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.item {
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
}

.titleoverlay {
  position: absolute;
  left: 5%;
  bottom: 15px;
  width: 90%;
  background-color: lightgrey;
  color: black;
  opacity: 0.8;
  animation: slidein 2s ease-out 0.5s running;
  transition: bottom cubic-bezier(0.18, 0.89, 0.32, 1.28) 1.5s;
}

@keyframes slidein {
  from { margin-bottom: -25%; }
  to { margin-bottom: 25px; }
}

.item:hover .titleoverlay {
  bottom: 100px;
  position: absolute;
}

/* For tablets or large phones: */
@media only screen and (min-width: 600px) {
  .container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .item {
    width: 49%;
  }
}

/* For desktop: */
@media only screen and (min-width: 992px) {
  .item {
    width: 33%;
  }
  .titleoverlay {
    animation: none;
    bottom: -25px;
    }
}